// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-button-margin {
  margin-top: 5em;
}

.form-row-width {
  width: 50em;
}

.label-margin {
  margin-right: 1em;
}

.button-font-size {
  font-size: 15px;
}

.top-margin {
  margin-top: 2em;
}
